<body>
    <% layout("/layouts/boilerplate") %>
    <div class="row">
        <div class="col-8 offset-2">
            <br><br>
            <h3>Create New Listing</h3>
            <form method="POST" action="/listings" novalidate class="needs-validation">
                <div class="form-group mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="listing[title]" id="title" placeholder="Add a catchy title" class="form-control" required>
                    <div class="valid-feedback">Title looks good!</div>
                </div>

                <div class="form-group mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" id="description" placeholder="Enter description" class="form-control" rows="3" required></textarea>
                    <div class="invalid-feedback">Please enter a short description.</div>
                </div>

                <div class="form-group mb-3">
                    <label for="image" class="form-label">Image Link</label>
                    <input type="text" name="listing[image]" id="image" placeholder="Enter image URL/link" class="form-control" >
                    <div class="invalid-feedback">Please enter a valid image URL/link.</div>
                </div>

                <div class="row">
                    <div class="form-group mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input  name="listing[price]" id="price" placeholder="1200" class="form-control" required>
                        <div class="invalid-feedback">Please enter a valid price.</div>
                    </div>
                    <div class="form-group mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" name="listing[country]" id="country" placeholder="India" class="form-control" required>
                        <div class="invalid-feedback">Please enter a valid country name.</div>
                    </div>
                </div>

                <div class="form-group mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" name="listing[location]" id="location" placeholder="Kolkata, West Bengal" class="form-control" required>
                    <div class="invalid-feedback">Please enter a valid location.</div>
                </div>

                <button type="submit" class="btn btn-dark add-btn">Add</button>
                <br><br>
            </form>
        </div>
    </div>
</body>